        body {
            /* background-color: lightgray; */

            background-color: white;
            /* font-size: 20px; */
            font-family: 'Times New Roman', Times, serif;
        }
        #content {
            /* width: 40%; */
            /* border: 0.5px solid rgb(197, 197, 197); */
            /* padding: 50px 10px 50px 10px; */
            /* justify-items: center;
            justify-self: center; */
            
            max-width: 800px;
            margin: 30px auto;
            border: 1px solid darkgray;
            padding: 50px 0px 50px 0px;
        }
        #content #name {
            /* font-size: large; */
            /* color: rgb(41, 107, 169); */
            
            color: #035f9c;
            text-align: center;
            letter-spacing: 3px;
            font-size: 0.8em;
            font-weight: normal;
            margin-bottom: 0px;
        }
        #content hr {
            /* height: 2px; */
            /* background-color: rgb(41, 107, 169); */
            /* margin: 20px 0px 20px 0px; */
            
            height: 0.1px;
            border: none;
            width: 55%;
            background-color: lightgray;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
            font-weight: lighter;
            letter-spacing: 1px;
        }
        #topics {
            /* justify-items: center; */
            
            width: 60%;
            margin: 0 auto;
            line-height: 1.5em;
        }
        #topics p{
            color: black;
        }
        #topics #italic {
            font-style: italic;
        }
        img {
            /* width: 55%; */
            
            display: block;
            padding-top: 30px;
            margin: 0 auto;
            width: 15%;
        }
        .list {
            /* width: 65%; */
            /* list-style: none; */
            
            list-style-type: decimal;
        }
        .list li {
            margin: 10px 0px 10px 0px;
        }