body {
    background-color: #E8EAF6;
    font-family: 'ONE MOBILE POP';
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1%;
}

header #headline {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1%;
}


header #headline #logo {
    width: 100%;
    /* height: auto; */
}

header #headline h1 {
    text-align: center;
}

header nav {
    border-left:1px solid black ;
    border-right:1px solid black ;
    width: 100%;
    text-align: center;
    /* background-color: #E8EAF6; */
}

main {
    margin: 1%;
}

main #overview {
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1.5px solid black;
    padding: 1%;
    background-color: #A9D1C8;
}

main #top {
    display: flex;
    gap: 1rem;
    width: 100%;
}

main #top #trend-area {
    width: 70%;
    background-color: white;
    padding: 1%;
}

main #top #trend-area .face {
    width: 20%;
    height: auto;
}


main #top #receipt-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 0.5rem;
} 

main #top #receipt-form button {
    background-color: #A9D1C8;
}

main #receipt-container {
    width: 98%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #387C6C;
}

main #receipt-container .receipt {
    /* width: 20%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    flex:1 1 20%;
    max-width: 200px;
}

footer {
    margin: 1%;
    background-color: #1C3F3A;
    color: #A9D1C8;
}

hr {
    margin: 1%;
}

header hr {
    margin-left: 0;
    margin-right: 0;
}

.dividor {
    width: 99%;
}



@media screen and (min-width: 600px) {
    main #receipt-container {
        flex-direction: row;
    }

    .dividor {
        display: none;
    }

    main #top #trend-area {
        width: 50%;
    }
    
    main #top #receipt-form {
        width: 50%;

    }

    header #headline {
        grid-template-columns: 10% 1fr 10%;
    }
}